.bg-image{
    background-image: url(../image/pexels-photo-1382731.jpeg);
    background-position: center;
    background-size: cover;
    height: 300px;
}
.First-container
{
    .row-1
    {
        .col-4-1{
            height:600px;
        }
    }
}